@use 'variable' as v;
@use 'mixin' as m;


.wrapper {
  max-width: v.$maxWidth;
  margin: 0 auto;
}

.header {
  background-color: v.$navy;
  max-width: v.$maxWidth;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .box {
    height: 60px;
    width: 160px;
    display: flex;
    background-color: v.$white;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;

    @include m.color-boxes(40px, 40px);
  }
}

.content {
  display: flex;
}

.sidebar {
  width: 150px;
  height: 250px;
  background-color: v.$green;
}

.main {
  width: 250px;
  height: 250px;
  background-color: v.$red;

  &__content {
    margin-top: 40px;
    margin-left: 40px;

    @each $name, $color in zip(v.$classNames, v.$buttonColor) {
      .main__#{$name} {
        width: 140px;
        height: 40px;
        background-color: $color;
        border: 5px solid v.$white;
        margin-bottom: 10px;
      }
    }
  }
}

.footer {
  max-width: v.$maxWidth;
  height: 100px;
  background-color: v.$brown;
}
